@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Satisfy&family=Tangerine:wght@400;700&display=swap');

.remaining-space {
  flex: 1 1 auto;
}
.background {
  background-image: url(../../../assets/background.png);
  background-size: cover;
  width: 100vw;
  min-height: 100vh;
}
.mat{
  padding-left: 150px;
  padding-right: 150px;
  background: none;
}
.register{
  color: #ffff  ;
  margin-right: 20px;
}
.principal{
  width: 800px;
  height: 200px;
  margin-left: 50px;
  position: absolute;
  bottom: 60px;
  padding: 40px;
}
.emblema{
  font-size: 120px;
  color: #ffff;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;

}
.subembllema{
  color: #ffff;
  font-size: 50px;
  line-height: 50px;
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
  margin-left: 15px;
}
.separa{
  margin-top: 50px;
}
.proposito{
  display: flex;
  flex-direction: row;
  background-color: rgb(44, 44, 201);
  padding: 50px 150px;

}
.subtituloPro{
  font-size: 40px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin-bottom: 25px;
}
.proposito img{
  width: 700px;
  height: 500px;
}
.textPro{
  width: 60%;
}
.proText{
  max-width: 1100px;
  font-size: 27px;
  line-height: 1.2;
  color: rgb(201, 201, 201);
}
.imgMedio{
  width: 30%;
  text-align: center;
  
}
.funcionalidades {
  margin-top: 30px;
}

.funcionalidades h2{
  text-align: center;
  font-size: 50px;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lista{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
  font-size: 25px;
  line-height: 2;
}

.primeralista {
  margin-right: 150px;
}
.segundalista{
  margin-left: 50px;
}

.footer{
  text-align: center;
  font-size: 20px;
  margin-top: 50px;
  background-color: rgba(0, 0, 0, 0.575);
  height: 100px;
  color: aliceblue;
  padding: 10px;
}