<section class="background">
    <app-nav-bar />
    <div class="main">
        <h1>Tu ahorro</h1>
        <p class="papel">de papel es</p>
        <p class="number">{{ahorro}} CM</p>
        <p class="texto">Estamos agradecidos por su compromiso con la iniciativa de ahorro de papel. Vuestra dedicación
            y conciencia ambiental han sido ejemplares, demostrando cómo pequeñas acciones pueden marcar una gran
            diferencia. Gracias a vuestro esfuerzo, estamos contribuyendo activamente a la conservación del medio
            ambiente y a la reducción de nuestra huella de carbono. Juntos, estamos construyendo un futuro más
            sostenible para las generaciones venideras. ¡Sigamos trabajando juntos en esta importante causa!</p>
    </div>
    <button class="margin btn" routerLink="/bills">Ver facturas</button>
</section>