.remaining-space {
  flex: 1 1 auto;
}
.mat{
  padding-left: 150px;
  padding-right: 150px;
  background: none;
}

.active{
  color: #3f51b5;
  text-decoration-line: underline;
  font-weight: bold ;
}