
<mat-dialog-content class="mat-typography">
  <h1 mat-dialog-title class="title">{{comercio?.name}}</h1>
  <div class="header">
      <p>Nit: {{comercio?.nit}} Grandes contribuyentes</p>
    <p>Telefono: {{comercio?.phone}}</p>
    <p>Email: {{comercio?.email}}</p>
    <p>Nro Factura: {{factura.referencesCode}}</p>
    <p>fecha: {{factura.date}}</p>
  </div>
  <div class="productos">
    <h3>Productos</h3>
    <app-product-table-content [id]="factura.id"/>
  </div>
  <div class="totales">
    <h2>Total: {{total}}</h2>
  </div>

  
</mat-dialog-content > 

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cerrar</button>
</mat-dialog-actions>

