
<mat-dialog-content class="mat-typography">
  <h1 mat-dialog-title class="title">{{factura.comercio?.razon}}</h1>
  <div class="header">
      <p>Nit: {{factura?.comercio?.nit}} Grandes contribuyentes</p>
    <p>Telefono: {{factura.comercio?.telefono}}</p>
    <p>direccion: {{factura.comercio?.direccion}} {{factura.comercio?.departamento}}</p>
    <p>Nro Factura: {{factura.numeroFactura}}</p>
    <p>fecha: {{factura.fecha}}</p>
  </div>
  <div class="productos">
    <h3>Productos</h3>
    <app-product-table-content [productos]="factura.productos"/>
  </div>
  <div class="totales">
    <h3>Sub total: {{factura.subtotal}}</h3>
    <h3>Iva:  {{factura.iva}}</h3>
    <h2>Total: {{factura.total}}</h2>
  </div>

  
</mat-dialog-content > 

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cerrar</button>
  <button mat-flat-button color="primary" mat-dialog-close>Importar</button>
</mat-dialog-actions>

