/* Custom styles can be added here if needed */
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-green-800 {
  background-color: #0a3622;
}

.text-green-800 {
  color: #0a3622;
}

.hover\:bg-green-700:hover {
  background-color: #065f46;
}

.border-green-600 {
  border-color: #059669;
}

.text-green-600 {
  color: #059669;
}

.hover\:bg-green-600:hover {
  background-color: #059669;
}

.info-section {
  background-color: white;
  color: #0a3622;
}





