<table style="width: 100%; border-collapse: collapse; text-align: left;">
  <thead>
    <tr>
      <th>Id</th>
      <th>Descripción</th>
      <th>Cantidad</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <!-- Iterar sobre los datos para generar filas -->
    <!-- Este bloque es un ejemplo de cómo podrían mostrarse los datos -->
     @for (item of items; track $index) {
      <tr>
        <td>{{item.codeReference}}</td>
        <td>{{item.name}}</td>
        <td>{{item.quantity}}</td>
        <td>${{item.quantity * item.price}} </td>
      </tr>

     }
  </tbody>
</table>
  
  
